<launch>

  <param name="use_sim_time" value="true"/>
  <arg name="bagfile" default="/home/miquel/bagfiles/laser/2017-03-08-12-21-41.bag"/>
  <arg name="calibrate" default="false"/>

  <node ns="/stereo_down" name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc"/>
  <node name="player" pkg="rosbag" type="play" args="--clock -r 0.1 $(arg bagfile)"/>
  <node name="reconstruction" pkg="laser_stripe_reconstruction" type="laser_stripe_reconstruction" output="screen">
    <remap from="image" to="/stereo_down/left/image_rect_color"/>
    <param name="camera_frame_id" value="/stereo_down/left_optical"/>
    <param name="calibrate" value="$(arg calibrate)"/>
    <param name="show_debug_images" value="true"/>
    <param name="blue" value="true"/>

    <param name="roi_x" value="0"/>
    <param name="roi_y" value="350"/>
    <param name="roi_width" value="960"/>
    <param name="roi_height" value="200"/>

    <param name="integral_window_size" value="10"/>
    <param name="min_integrated_value" value="80"/>

    <param name="laser_calibration" value="/home/miquel/bagfiles/laser/calibration.yaml"/>

  </node>

  <!-- VEHICLE FRAMES -->
  <rosparam command="load" file="$(find turbot)/config/frames.yaml"/>

  <!-- VEHICLE STATIC TFs -->
  <include file="$(find turbot)/launch/modules/transforms.launch">
    <arg name="suffix" value="_robot"/>
  </include>

  <!-- Visual Odometry -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
    <remap from="stereo" to="/stereo_down"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="/sparus2"/>
    <param name="sensor_frame_id" value="/stereo_down/left_optical"/>
    <param name="approximate_sync" value="true"/>
  </node>
</launch>