<launch>

  <param name="use_sim_time" value="true"/>
  <arg name="bagfile" default="/home/miquel/bagfiles/calibration_2015-04-28-11-34-29.bag"/>
  <arg name="calibrate" default="true"/>

  <node pkg="tf" type="static_transform_publisher" name="rviz2cam" args="0 0 0 3.1416 0 0 /arm_tool /left_optical 10"/>

  <node ns="camera" name="image_proc" pkg="image_proc" type="image_proc"/>

  <node name="player" pkg="rosbag" type="play" args="--clock $(arg bagfile)"/>

  <node name="reconstruction" pkg="laser_line_reconstruction" type="reconstruction" output="screen">
    <remap from="image" to="/camera/image_rect_color"/>
    <param name="calibrate" value="$(arg calibrate)"/>
  </node>
  <node unless="$(arg calibrate)" name="viewer" pkg="pointcloud_tools" type="pointcloud_viewer" output="screen">
    <remap from="input" to="/reconstruction/points2"/>
  </node>

</launch>